.cards {
  
}
.cards__title {
  
}

.cards__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.cards__item {
  width: 280px;
  height: 219px;
  padding: 16px;
  border-radius: 16px;
  background: #FFF;
}
