/* todo make it flex or grid */
.checkbox {
  cursor: pointer;
  display: block;
  line-height: 20px;
  padding-left: 28px;
  position: relative;
}

.checkbox__input {
  cursor: pointer;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.checkbox__input::after {
  position: absolute;
  display: block;
  content: '';
  inset: 0;
  background: url('../img/active.svg') no-repeat center/145%;
  transition: opacity 300ms ease;
  opacity: 0;
}

.checkbox__input:checked::after {
  opacity: 1;
}

.checkbox__input:focus-visible {
  outline: none;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.433);
}

.checkbox__input:hover:not(:disabled) {
  outline: none;
  box-shadow: 1px 1px 12px rgba(141, 147, 216, 0.672);
}

.checkbox__input:disabled {
  background-color: #e2e2e2;
}

