.checkbox {
  display: block;
  line-height: 20px;
  padding-left: 28px;
  position: relative;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 4px;
}

.checkbox__input::after {
  display: block;
  content: '';
  position: absolute;
  inset: 0;
  background: url('../img/active.svg') no-repeat center;
  opacity: 0;
  transition: opacity 300ms ease;
}

.checkbox__input:checked::after {
  opacity: 1;
}

.checkbox__input:focus-visible {
  outline: none;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.326);
}

.checkbox__input:hover:not(:disabled) {
  outline: none;
  box-shadow: 1px 1px 12px #a6adff8c;
}

.checkbox__input:disabled {
  background-color: #cccccc;
}

