.header {
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  padding: 40px 0 40px;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo-img {
  display: block;
  width: 137px;
  height: 24px;
}

.header__btn {
  padding: 12px 32px;
  font-size: 20px;
  border-radius: 8px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
}

.btn_blue {
  color: #171717;
  background-color: #A6ADFF;
}

.btn_white {
  color: #CCC;
  background-color: transparent;
}

/* *при наведении */
.btn {
  opacity: 1;
  transition: opacity 500ms ease;
}  
.btn:hover {
  opacity: .7;
}  
