.header {
  padding-top: 40px;
  padding-bottom: 50px;
}

.container {
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
}
.header__logo-img {
  width: 137px;
  height: 24px;
}


.header__btn {
  opacity: 1;
  transition: opacity 500ms ease;
}
.header__btn:hover {
  opacity: .7;
}
.btn {
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  color: #171717;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  
  border-radius: 8px;
  background: #A6ADFF;
}

