.hero {
  display: flex;
  width: 100%;
  /* padding-top: 60px; */
  /* padding-bottom: 50px; */
  padding: 60px 0 50px;
}

.hero__container {
  padding-top: 57px;
  padding-bottom: 57px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  z-index: 99;
}
.hero__container::after {
  content: '';
  position: absolute;
  top: 0;
  right: -9px;
  display: block;
  width: 421px;
  height: 330px;
  background: url(../img/hero/laptop-makbook@1x.png) no-repeat center/contain;
  z-index: -1;
}

.hero__title {
  max-width: 780px;
  font-size: 90px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.hero__title_blue {
  color: #2A18FF;
}