.hero {
  display: flex;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
}

.hero__container {
  padding-top: 57px;
  padding-bottom: 57px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  /* todo ::after */
  background: url(../img/hero/macbg@1x.png) 100% 0  no-repeat;
  background-size: contain;
}

.hero__title {
  max-width: 780px;
  color: #171717;
  font-family: Inter;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 108px */
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.hero__title_blue {
  color: #2A18FF;
}