.vacancies {
  padding: 50px 0;
  width: 100%;
 }
 
 .vacancies__container {
   width: 100%;
   display: flex;
   align-items: start;
   gap: 24px 20px;
 }
 
 .vacancies__filter-btn {
   display: none;
 }
 
 .vacancies__filter {
  /* width: 280px; */
  flex-basis: 280px;
  flex-grow: 0;
  flex-shrink: 0;
  flex: 0 0 280px;
 }
 
 .vacancies__cards {
   flex-basis: 100%;
 }
 