.vacancies {
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 50px 0;
}

.vacancies__container {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 24px 20px;
  flex-direction: row;
  justify-content: space-between;
}

.vacancies__filter-btn {
  display: none;
}

.vacancies__filter {
  /* width: 280px; */
  flex-basis: 280px;
  flex-grow: 0;
  flex-shrink: 0;
  flex: 0 0 280px;
}

.vacancies__cards {
  /* width: 880px; */
  flex-basis: 100%;
}

